<form action="/search/events" method="POST">
                    <label for="SearchTitle">Search Event</label>
                    <input type="text" id="SearchTitle" name="searchTitle">
                    <button id ="button-id" class="btn-submit" type="submit">Submit</button>
</form>

<form action="/search/category" method="POST">
                    <label for="SearchTitle">Search Event by Category</label>
                    <select name="category" id="cars">
                        <option value="Sports">Sports</option>
                        <option value="Education">Education</option>
                        <option value="Food and Drink">Food and Drink</option>
                        <option value="Music">Music</option>
                        <option value="Dance">Dance</option>
                        <option value="Performing and Visual Arts">Performing and Visual Arts</option>
                    </select>
                    <button id ="button-id" class="btn-submit" type="submit">Submit</button>
</form>