<form action="/search/events" method="POST">
                    <label for="SearchTitle">Search Event</label>
                    <input type="text" id="SearchTitle" name="searchTitle">
                    <button id ="button-id" class="btn-submit" type="submit">Submit</button>
                </form>