
<main>
    <div class="container">
        <form action="/profile" method="POST" id="registration-form">
            <div class="form-group">
                <label for="userId">User Id:</label>
                <input type="text" name="userId" id="userId" class="form-control" placeholder="Enter user id"
                    required><br>
            </div>
            <div class="form-group">
                <label for="firstName">FirstName:</label>
                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter firstName"
                    required><br>
            </div>
            <div class="form-group">
                <label for="lastName">LastName:</label>
                <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter lastName"
                    required><br>
            </div>
            
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" class="form-control" placeholder="Enter your Age" required><br>
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <input type="text" name="gender" id="gender" class="form-control" placeholder="Enter your gender" required><br>
            </div>
            <div class="form-group">
                <label for="profilePicture">Profile Picture:</label>
                <input type="file" name="profilePicture" id="profilePicture" class="form-control"  required><br>
            </div>
            <div class="form-group">
                <label for="websiteLink">Website Link:</label>
                <input type="text" name="websiteLink" id="websiteLink" class="form-control" placeholder="Enter your url" required><br>
            </div>
            <div class="form-group">
                <label for="youtubeLink">Youtube Link:</label>
                <input type="text" name="youtubeLink" id="youtubeLink" class="form-control" placeholder="Enter your url" required><br>
            </div>
            <div class="form-group">
                <label for="addressLine1">Address 1:</label>
                <input type="text" name="addressLine1" id="addressLine1" class="form-control" placeholder="Enter your Address" required><br>
            </div>
            <div class="form-group">
                <label for="addressLine2">Address 2:</label>
                <input type="text" name="addressLine2" id="addressLine2" class="form-control" placeholder="Enter your Address" required><br>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" name="city" id="city" class="form-control" placeholder="Enter your City"
                    required><br>
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" name="state" id="state" class="form-control" placeholder="Enter your State" required><br>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" name="country" id="country" class="form-control" placeholder="Enter your Country" required><br>
            </div>
            <div class="form-group">
                <label for="pincode">Pincode:</label>
                <input type="number" name="pincode" id="pincode" class="form-control" placeholder="Enter your Pincode" required><br>
            </div>
            <div class="form-group">
                <label for="bio">Bio:</label>
                <input type="text" name="bio" id="bio" class="form-control" placeholder="Enter your Bio" required><br>
            </div>
            
            
            
    
            <div id="message">
                <p id="lowercase" hidden>A <strong>lowercase</strong> letter</p>
                <p id="uppercase" hidden>A <strong>uppercase</strong> letter</p>
                <p id="number" hidden>A <strong>number 0 to 9</strong></p>
                <p id="length" hidden>Minimum <strong>8 characters</strong> and Maximum <strong>16 characters</strong> </p>
            </div>
    
            {{#if errors}}
                <div class="errorDiv">
                    <p>{{error}}</p>
                </div>
            {{/if}}
    
            <button type="submit" class="btn btn-default">Submit</button><br><br>
        </form>
    </div>
</main>