
<section>
    <div class="container">
        <form action="/profile/details" method="POST" id="profile-detail-form" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="firstName">FirstName:</label>
                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="Enter firstName"
                    required><br>
            </div>
            <div class="form-group">
                <label for="lastName">LastName:</label>
                <input type="text" name="lastName" id="lastName" class="form-control" placeholder="Enter lastName"
                    required><br>
            </div>
            
            <div class="form-group">
                <label class="my-1 mr-2" for="gender">Gender:</label>
                <select name="gender" style="outline:none !important; padding: 5px 10px" class="custom-select  my-1 mr-sm-2"
                    id="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                    <option value="Non Binary">Non Binary</option>
                    <option value="Unknown">Rather not say</option>
                </select>
            </div>
            <div class="form-group">
                <label for="profilePicture">Profile Picture:</label>
                <input type="file" class="form-control-file" name="profilePicture" id="profilePicture" class="form-control"><br>
            </div>
            <div class="form-group">
                <label for="websiteLink">Website Link:</label>
                <input type="text" name="websiteLink" id="websiteLink" class="form-control" placeholder="Enter your url"><br>
            </div>
            <div class="form-group">
                <label for="youtubeLink">Youtube Link:</label>
                <input type="text" name="youtubeLink" id="youtubeLink" class="form-control" placeholder="Enter your url"><br>
            </div>
            <div class="form-group">
                <label for="addressLine1">Address 1:</label>
                <input type="text" name="addressLine1" id="addressLine1" class="form-control" placeholder="Enter your Address"><br>
            </div>
            <div class="form-group">
                <label for="addressLine2">Address 2:</label>
                <input type="text" name="addressLine2" id="addressLine2" class="form-control" placeholder="Enter your Address"><br>
            </div>
            <div class="form-group">
                <label for="city">City:</label>
                <input type="text" name="city" id="city" class="form-control" placeholder="Enter your City"><br>
            </div>
            <div class="form-group">
                <label for="state">State:</label>
                <input type="text" name="state" id="state" class="form-control" placeholder="Enter your State"><br>
            </div>
            <div class="form-group">
                <label for="country">Country:</label>
                <input type="text" name="country" id="country" class="form-control" placeholder="Enter your Country"><br>
            </div>
            <div class="form-group">
                <label for="pincode">Pincode:</label>
                <input type="number" name="pincode" id="pincode" class="form-control" placeholder="Enter your Pincode"><br>
            </div>
            <div class="form-group">
                <label for="bio">Bio:</label>
                <input type="text" name="bio" id="bio" class="form-control" placeholder="Enter your Bio"><br>
            </div>
            
    
            {{#if errors}}
                <div class="errorDiv">
                    <p>{{error}}</p>
                </div>
            {{/if}}
    
            <button type="submit" class="btn btn-default">Submit</button><br><br>
        </form>
    </div>
</section>