<div class="container">
    <form action="/login" method="post" id="login-form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        
        {{#if errors}}
            <div>
                <p>{{error}}</p>
            </div>
        {{/if}}

        <button type="submit">Submit</button><br><br>
        <a href="/register">Click here to register!</a>
    </form>
</div>