<main>   
    <div class="container">
        <form action="/register" method="POST" id="registration-form">
        
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Enter an username" required><br>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required><br>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" name="age" id="age" class="form-control" placeholder="Enter your Age" required><br>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" minlength="8" class="form-control" onblur="passwordOnBlur(this)" onfocus="passwordOnFocus(this)"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 and less than equal to 16 characters" placeholder="Enter Password"><br>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="Retype your password"> <span id='confirmPasswordMessage'></span><br>
            </div>

            <div id="message">
                <p id="lowercase" hidden>A <strong>lowercase</strong> letter</p>
                <p id="uppercase" hidden>A <strong>uppercase</strong> letter</p>
                <p id="number"  hidden>A <strong>number 0 to 9</strong></p>
                <p id="length" hidden>Minimum <strong>8 characters</strong> and Maximum <strong>16 characters</strong> </p>
            </div>

            {{#if errors}}
                <div class="errorDiv">
                    <p>{{error}}</p>
                </div>
            {{/if}}
            
            <button class="btn btn-primary" type="submit" class="btn btn-default">Submit</button><br><br>
            <a href="/">Already have an account? Click here to log-in</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    
    <script>
        const username = document.getElementById("username");
        const email = document.getElementById("email");
        const age = document.getElementById("age");

        username.addEventListener("input", (event) => {
            if (/^[0-9a-zA-Z]+$/.test(username.value) === false)  {
                username.setCustomValidity("Email must be a valid pattern");
                username.reportValidity();
            } else if (username.value.length < 4) {
                username.setCustomValidity("Username should be at least 4 characters long");
                username.reportValidity();
            } else if (username.value.trim().length === 0) {
                username.setCustomValidity("Username cannot be empty or just spaces");
                username.reportValidity();
            } else {
                username.setCustomValidity("");
            }
        });

        email.addEventListener("input", (event) => {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value) === false) {
                email.setCustomValidity("Email must be valid");
                email.reportValidity();
            } else {
                email.setCustomValidity("");
            }
        });

        age.addEventListener("input", (event) => {
            if (age.value < 13) {
                age.setCustomValidity("Age must ge greater than or equal to 13");
                age.reportValidity();
            } else {
                age.setCustomValidity("");
            }
        });

        password.addEventListener("input", (event) => {
            if (/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.* ).{8,16}$/.test(password.value) === false) {
                password.setCustomValidity("Password must contain a single digit from 1 to 9, one lowercase letter, one uppercase letter, one special character and must be 8-16 characters long.");
                password.reportValidity();
            } else {
                password.setCustomValidity("");
            }
        });

        function passwordOnBlur(x){
            document.getElementById("message").style.display = "none";
        }
        function passwordOnFocus(x) {
            var lowercase = document.getElementById("lowercase");
            var uppercase = document.getElementById("uppercase");
            var number = document.getElementById("number");
            var length = document.getElementById("length");
            document.getElementById("message").style.display = "block";
            // When the user starts to type something inside the password field
            x.onkeyup = function() {
                // Validate lowercase letters
                var lowerCaseLettersRegex = /[a-z]/g;
                if(x.value.match(lowerCaseLettersRegex)) {  
                    lowercase.hidden = true;
                } else {
                    lowercase.hidden = false;
                }
                
                // Validate capital letters
                var upperCaseLettersRegex = /[A-Z]/g;
                if(x.value.match(upperCaseLettersRegex)) {  
                    uppercase.hidden = true;
                } else {
                    uppercase.hidden = false;
                }

                // Validate numbers
                var numbersRegex = /[0-9]/g;
                if(x.value.match(numbersRegex)) {  
                    number.hidden = true;
                } else {
                    number.hidden = false;
                }
                
                // Validate length
                if(x.value.length >= 8 && x.value.length <= 16) {
                    length.hidden = true;
                } else {
                    length.hidden = false;
                }
            }
        }

        $('#password, #confirmPassword').on('keyup', function () {
        if ($('#password').val() == $('#confirmPassword').val()) {
            $('#confirmPasswordMessage').html('Password and Confirm Password Matched').css('color', 'green');
        } else 
            $('#confirmPasswordMessage').html('Password and Confirm Password not Matching').css('color', 'red');
        });

    </script>
    <script src="/public/js/registerForm.js"></script>
</main> 