<div class="container">
    <form action="/login" method="post" id="login-form">
    
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Enter your username"><br>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter password"><br>
        </div>

        {{#if errors}}
            <div>
                <p>{{error}}</p>
            </div>
        {{/if}}

        <button type="submit">Submit</button><br><br>
        <a href="/register">Click here to register!</a>
    </form>
</div>