/* All main website css goes here */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 1.5rem;
}
body{
    line-height: 1.5;
}
.groupFortyThree{
    background-color: white;
    border: 1px solid transparent;
    border-color: #f1f1f1;
    color: black;
    cursor: pointer;
    border-color: white;
}

.groupFortyThree:hover{
    color: black;
    border-color: black;
    transition-duration: 0.4s;
}

.post-thumbnail {
    width: 30rem; 
    height:auto
}

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}

.event-content{
    padding: 2rem 1rem;
}
.event-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #000000;
}

.event-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #eb2618;
    color: #000000;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.event-link:hover{
    opacity: 0.9;
}
.event-rating{
    color: #ffc107;
}
.event-rating span{
    font-weight: 600;
    color: #252525;
}
.event-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.event-price span{
    font-weight: 400;
}
.price span{
    color: #256eff;
}
.event-detail h2{
    text-transform: capitalize;
    color: #000000;
    padding-bottom: 0.6rem;
    font-size: 1.6rem;
}
.event-detail p{
    font-size: 1.4rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.event-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.event-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.event-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #000000;
}
.purchase-info .btn:first-of-type{
    background: #339DFF;
}
.purchase-info .btn:last-of-type{
    background: #dc4b4e;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}

#map {
    align-self: center;
    height: 500px;
    width: 700px;
  }

.main_page_search_form {
    text-align: center;
    
}

.main_page_search_btn {
    background: #0066A2;
	color: white;
	border-style: outset;
	border-color: #0066A2;
    height: 28px;
	width: 100px;
    font: bold15px arial,sans-serif;
	text-shadow: none;
}